/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.booking-header {
    padding: 1% 0 0 1%;
}

.booking-header span {
    font-size: 2em;
    font-weight: bold;
}

.booking-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

/* Room Type */
.booking-container .roomtype-card {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 0.8em;
}

.roomtype-card .room-type-box {
    display: flex;
    padding: 1em;
    width: 100%;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Room Image */
.room-type-box img {
    width: 10em;
    height: 10em;
}

.room-type-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Room Type */
.room-type-info .room-type-header {
    margin: 0 2% 0 2%;
}

.room-type-info .room-type-header span {
    font-size: 2.5em;
    font-weight: bold;
}

/* Room Features */
.room-type-box .room-features {
    display: flex;
    margin-bottom: 0.5em;
    justify-content: flex-start;
    width: 100%;
}

.room-type-box .room-features span {
    font-size: 1.2em;
    padding-left: 2%;
}

.room-type-box .room-features span i {
    margin-right: 0.2em;
}

.room-type-box span.size {
    display: flex;
    font-size: 1.2em;
    width: 100%;
    padding-left: 2%;
}

.room-type-box span.size i {
    margin-right: 0.2em;
}

.room-type-info .refund {
    font-size: 1.2em;
    margin: 0 2% 0 2%;
    font-weight: bold;
    color: red;
}

#booking-form {
    width: 100%;
}

/* Booking Information */
.form-content {
    display: flex;
    flex-direction: column;
    border-radius: 0.8em;
    width: 100%;
}

.booking-card {
    flex: 1 1 60%; /* Adjust these values based on your design */
    display: flex;
    flex-direction: column;
    border-radius: 0.8em;
    padding: 1em;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}

.form-header {
    font-size: 1.7em;
    font-weight: bold;
    text-align: left;
    padding-bottom: 0.5em;
}

.booking-info {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.booking-info .column {
    flex: 1 1 auto; /* Allow columns to grow and shrink */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0.5em;
}

/* Adjust width for specific elements */
.booking-info .column#checkindate,
.booking-info .column#checkoutdate,
.booking-info .column#dayofstay {
    flex: 1 1 calc(33.33% - 0.5em); /* Larger width for Check In, Check Out, and Day of Stay */
}

.booking-info .column#room-quantity,
.booking-info .column#bed,
.booking-info .column#smoke {
    flex: 1 1 calc(33.33% - 0.5em); /* Equal width for Room Quantity, Bed Selection, and Smoke */
}

.booking-info label {
    white-space: nowrap; /* Prevent the label text from wrapping */
    text-align: right;
    font-size: 1em;
    margin-right: 0.2em;
    font-weight: bold;
}

.booking-info input[type="date"], 
.booking-info input[type="number"], 
.booking-info select {
    flex: 1;
    height: 3em; /* Set a consistent height */
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    box-sizing: border-box;
}

/* Guest Information */
.guest-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.8em;
    width: 100%;
    padding: 1em;
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.guest-card .row {
    display: flex;
    margin: 2% 0; /* Adjust margin to balance the spacing */
    padding: 0 1% 1% 1%;
}

.guest-card .column {
    flex: 1;
    display: flex;
    align-items: center; /* Align items in the center vertically */
}

.guest-card .column label {
    width: 15em;
    margin-left: 0.5em;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}

.guest-card .column input,
.guest-card .column select {
    height: 3em; /* Set a consistent height */
    width: 100%;
    padding: 0.5em; /* Adjust padding for better spacing */
    box-sizing: border-box;
}

.guest-card .column input#car-plate::placeholder {
    font-size: 0.8em;
    font-weight: bold;
}

.additional-request-card {
    flex: 1 1 60%; /* Adjust these values based on your design */
    display: flex;
    flex-direction: column;
    border-radius: 0.8em;
    padding: 1em;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}

.request-info {
    display: flex;
    gap: 0.5em;
}

.request-info .column {
    flex: 1 1 auto; /* Allow columns to grow and shrink */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0.5em;
}

.request-info label {
    white-space: nowrap; /* Prevent the label text from wrapping */
    text-align: right;
    font-size: 1em;
    margin-right: 0.2em;
    font-weight: bold;
}
 
.request-info input[type="number"], 
.request-info select {
    flex: 1;
    height: 3em; /* Set a consistent height */
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    box-sizing: border-box;
}

.request-info input#breakfastquantity::placeholder{
    font-size: 0.8em;
}

.request-info input#bedquantity::placeholder{
    font-size: 0.8em;
}

.booking-container .price-card {
    display: flex;
    flex-direction: column;
    padding: 1%;
    height:fit-content;
    border-radius: 0.8em;
    margin-top: 1%;
    margin-bottom: 2%; /* Adjust margin bottom if necessary */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

.priceinfo .price-title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1%;
}

.priceinfo {
    padding: 1%;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.priceinfo .product {
    align-items: center;
    padding: 1%;
}

.product span {
    font-size: 1em;
    line-height: 1.5;
}

.priceinfo .column {
    display: flex;
    padding: 0.5%;
    margin: 1% 1% 1% 0;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 2px solid black;
    width: 100%;
}

.price-card .remarks {
    padding: 1%;
    margin-top: 2em;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.remarks span.remarks-header {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

.remarks span.remarks-content {
    font-size: 1em;
    display: block;
    line-height: 1.5;
    padding: 1%;
}

.booking-button {
    padding: 1%;
    margin-top: 2em;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.booking-button button#submit-btn {
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: lightgray;
}

.booking-button button#submit-btn:hover {
    background-color: skyblue;
}
