body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.invoice-wrapper {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.invoice {
    width: 100%;
}

.invoice-container {
    padding: 20px;
}

.invoice-head, .invoice-body, .invoice-foot {
    margin-bottom: 20px;
}

.text-start {
    text-align: left;
}

.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.hr {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

.invoice-head-top, .invoice-head-middle, .invoice-head-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-head-top-left img {
    width: 10em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #f8f8f8;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevent text from wrapping */
}

.invoice-footer p {
    font-size: 12px;
}

.no-print {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0.5em;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn i {
    font-size: 16px;
}

/* Hide buttons when printing */
@media print {
    .no-print {
        display: none;
    }
}
