html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

header {
  background-color: #87cefa;
  color: white;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

header .user-links {
  display: flex;
  align-items: center;
  position: relative;
}

header .user-links a,
header.user-links .username-link {
  color: white;
  margin: 0 1em;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

header.user-links .username-link {
  padding: 0.5em 1em;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #87ceeb;
  padding: 0.5em;
}

nav a {
  color: white;
  font-size: 1.2em;
  margin: 0 1em;
  text-decoration: none;
}

footer {
  background-color: #87cefa;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  margin-top: auto;
}
